extends layout/layout.pug

block header
  include header

block content
  div.container 
    div.content 
        h1.title welcome to Home page
        p.subtitle content here.


block footer
  include footer 
