extends index

block content
  div.container 
    div.content 
      h1.title welcome to login page

      form.formLogin(action="/login" method='POST')
        div.login 
          label.labels(for="email") Email 
          input.inputLogin(type="email" id='email' name='email' required)

        div.password
          label.labels(for="password") Password 
          input.inputPass(type="text" id='password' name='password' required)

        button.inputBtn(type='submit') Login

      if error
        p.err= error