@import url('./reset.css');

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.header, .footer {
  background: silver;
  padding: 40px 20px;
  color: white;
}

.head, .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: white;
  border-radius: 50%;
  border: 2px solid white;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: .3s linear;
}

.link:hover {
  color: orange;
}

.link:active {
  text-decoration: underline;
}

.foot {
  justify-content: center;
  gap: 30px;
  font-weight: 600;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  text-align: center;
  padding: 30px;
  min-height: calc(100vh - 230px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.title, .subtitle {
  font-size: 35px;
  font-weight: 700;
} 

.subtitle {
  font-size: 25px;
}

.err {
  color: red;
  font-size: 25px;
  font-weight: 600;
}

.formLogin {
  padding: 30px;
  border-radius: 8px;
  border: 2px solid silver;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 20px;
}


.login, .password {
  display: flex;
  flex-flow: column;
  gap: 8px;
  align-items: start;
  min-width: 350px;
}

.labels {
  font-weight: 600;
  color: slategray;
  font-size: 18px;
}

.inputLogin, .inputPass  {
  width: 100%;
  outline: none;
  border-radius: 8px;
  border: 2px solid silver;
  padding: 10px;
}

.inputBtn {
  padding: 12px 20px;
  width: 100%;
  border-radius: 8px;
  background: forestgreen;
  font-weight: 600;
  color: white;
}