@import url('./reset.css');

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.header, .footer {
  background: silver;
  padding: 40px 20px;
  color: white;
}

.head, .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile, .profile-admin, .profile-moderator, .profile-user {
  width: 70px;
  height: 70px;
  overflow: hidden;
  background: white;
  border-radius: 50%;
  border: 2px solid white;
}

.profile-admin {
  border-color: blueviolet;
}

.profile-moderator {
  border-color: orange;
}

.profile-user {
  border-color: forestgreen;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.infoName, .infoEmail, .infoRole {
  font-weight: 500;
  color: black;
  letter-spacing: 1px;
  font-size: 18px;
}

.userInfo {
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link, .linkLogin, .linkLogout {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: .3s linear;
}

.link:hover {
  color: orange;
}

.link:active {
  text-decoration: underline;
}

.linkLogin, .linkLogout {
  color: white;
  padding: 10px;
  border-radius: 8px;
  background: forestgreen;
}

.linkLogout {
  background: red;
}

.foot {
  justify-content: center;
  gap: 30px;
  font-weight: 600;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  text-align: center;
  padding: 30px;
  min-height: calc(100vh - 230px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.title, .subtitle {
  font-size: 35px;
  font-weight: 700;
} 

.subtitle {
  font-size: 25px;
}

.err {
  padding: 15px 20px;
  border-radius: 8px;
  background: red;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.formLogin {
  padding: 30px;
  border-radius: 8px;
  border: 2px solid silver;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 20px;
}


.login, .password {
  display: flex;
  flex-flow: column;
  gap: 8px;
  align-items: start;
  min-width: 350px;
}

.labels {
  font-weight: 600;
  color: slategray;
  font-size: 18px;
}

.inputLogin, .inputPass  {
  width: 100%;
  outline: none;
  border-radius: 8px;
  border: 2px solid silver;
  padding: 10px;
}

.inputBtn {
  padding: 12px 20px;
  width: 100%;
  border-radius: 8px;
  background: forestgreen;
  font-weight: 600;
  color: white;
}

.profileBlock {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: slategray;
}

.adminImgWrap, .ImgWrap, .imgModWrap {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid purple;
}

.imgModWrap {
  border: 4px solid orange;
}

.ImgWrap {
  border: 4px solid forestgreen;
}

.userImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}